In [31]:
import pandas as pd
import numpy as np

In [32]:
df = pd.read_csv('customer.csv')

In [33]:
# gender is a nominal categorical value - one hot encoding
# age - numerical value 
# review - Ordinal categorical -  ordinal encoder
# education - ordinal categorical - ordinal encoder
# purchased - nominal categorical - label encoder

df.sample(5)

    age  gender review education purchased
38   45  Female   Good    School        No
41   23    Male   Good        PG       Yes
14   15    Male   Poor        PG       Yes
43   27    Male   Poor        PG        No
12   51    Male   Poor    School        No

In [34]:
df = df.iloc[:,2:]

In [35]:
df.head()

    review education purchased
0  Average    School        No
1     Poor        UG        No
2     Good        PG        No
3     Good        PG        No
4  Average        UG        No

In [36]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(df.iloc[:,0:2],df.iloc[:,-1],test_size = 0.2)
X_train.head()

     review education
46     Poor        PG
38     Good    School
20  Average    School
8   Average        UG
32  Average        UG

### **Ordinal Encoding**

In [37]:
from sklearn.preprocessing import OrdinalEncoder

In [38]:
oe = OrdinalEncoder(categories = [["Poor","Average","Good"],["School","PG","UG"]])

In [39]:
oe.fit(X_train)

OrdinalEncoder(categories=[['Poor', 'Average', 'Good'], ['School', 'PG', 'UG']])

In [40]:
X_train = oe.transform(X_train)
X_test = oe.transform(X_test)

In [44]:
X_train

array([[0., 1.],
       [2., 0.],
       [1., 0.],
       [1., 2.],
       [1., 2.],
       [0., 2.],
       [2., 0.],
       [1., 0.],
       [2., 0.],
       [2., 1.],
       [1., 0.],
       [0., 0.],
       [1., 1.],
       [1., 2.],
       [0., 0.],
       [0., 1.],
       [1., 1.],
       [0., 0.],
       [1., 0.],
       [2., 1.],
       [0., 2.],
       [2., 2.],
       [0., 1.],
       [0., 1.],
       [1., 2.],
       [2., 0.],
       [0., 1.],
       [0., 1.],
       [1., 1.],
       [2., 1.],
       [2., 1.],
       [0., 0.],
       [2., 1.],
       [0., 1.],
       [0., 2.],
       [1., 0.],
       [2., 2.],
       [2., 1.],
       [0., 2.],
       [1., 2.]])

### **Label Encoding** - Label encoding is done only for Output column.

In [45]:
from sklearn.preprocessing import LabelEncoder

In [46]:
le = LabelEncoder()

In [47]:
le.fit(y_train)

LabelEncoder()

In [48]:
y_train = le.transform(y_train)
y_test = le.transform(y_test)

In [49]:
y_train

array([0, 0, 1, 0, 1, 1, 0, 1, 0, 1, 0, 1, 1, 0, 1, 0, 1, 1, 0, 0, 0, 0,
       0, 1, 0, 0, 0, 1, 0, 1, 0, 0, 1, 1, 1, 0, 1, 1, 0, 1])